---
---

@import "{{ site.theme }}";
.button {
    background-color: #F55754; /* Red */
    border: none;
    color: white;
    padding: 21px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: auto;
}

header_wrap {
  background: #F55754;
}

header { 
    background: #F55754;
}

h1 {
      font-size: 36px;
}
